<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/static/editeProfile.css">
</head>
<body>
    <div class="profile-container">
        <h1>Edit Profile</h1>
        <div class="profile-pic-container">
            <img id="profile-pic-preview" src="/{{ user.Photo }}" alt="Current Profile Picture" height="100" >
        </div>
        {% if user.UserType == "recruiters" %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="profile-pic" name="profile_pic">

                <div class="form-group">
                    <label for="username">Display Name</label>
                    <input type="text" id="username" name="DisplyName" value="{{user.DisplyName}}">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="Email" value="{{user.email}}">
                </div>
                <div class="form-group">
                    <label for="location">Contract Number</label>
                    <input type="text" id="location" name="contractnumber" value="{{ user.ContractNumber }}">
                </div>
                <div class="form-group">
                    <label for="website">Website</label>
                    <input type="url" id="website" name="website" value="{{ user.WebLink }}">
                </div>
                <button type="submit" class="save-button">Save Changes</button>
                {% comment %} <a href="{% url 'deleteProfile' %}"><button type="button" class="delete-button">Delete Acount</button></a>
                <a href="{% url 'userProfile' %}"><button type="button" class="skip-button">Skip Changes</button></a>  {% endcomment %}
        </form>
        {% elif user.UserType == "jobseekers" %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="profile-pic" name="profile_pic">

            <div class="form-group">
                <label for="username">Display Name</label>
                <input type="text" id="username" name="DisplyName" value="{{user.DisplyName}}">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="Email" value="{{user.email}}">
            </div>
            <div class="form-group">
                <label for="email">Skill</label>
                <select name="skill" id="">
                    <option value="" disabled selected>Select Skills</option>
                    <option value="programming">Programming</option>
                    <option value="networking">Networking</option>
                    <option value="hardware">Hardware</option>
                </select>
            </div>
            <div class="form-group">
                <label for="location">Contract Number</label>
                <input type="text" id="location" name="contractnumber" value="{{ user.ContractNumber }}">
            </div>
            <div class="form-group">
                <label for="website">Website</label>
                <input type="url" id="website" name="website" value="{{ user.WebLink }}">
            </div>
            <button type="submit" class="save-button">Save Changes</button>
            {% comment %} <a href="{% url 'deleteProfile' %}"><button type="button" class="delete-button">Delete Acount</button></a>
            <a href="{% url 'userProfile' %}"><button type="button" class="skip-button">Skip Changes</button></a>  {% endcomment %}
        </form>
            {% endif %}
    </div>
</body>
</html>