<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/userviewPage.css">
    <title>User Profile</title>
</head>
<body>
    <div class="container">
        <div class="profile-card">
            <div class="profile-header">
                <img src="/{{user.Pic}}" alt="User Profile Picture" class="profile-pic">
                <h2 class="username">{{user.username}}|{{user.UserType}}</h2>
                <p class="email">{{user.email}}</p>
                <p class="city">City: {{user.City}}</p>
            </div>
            <div class="bio">
                <h3>About Me</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="social-links">
                <h3>Connect with Me</h3>
                <a href="#" class="social-icon">Twitter</a>
                <a href="#" class="social-icon">LinkedIn</a>
                <a href="#" class="social-icon">GitHub</a>
            </div>

            <div class="button-group">
            {% if user.UserType == "recuter" %}
            <a href="{% url 'allcreatejob' %}" class="btn apply">All Create Job</a>
            {% endif %}
            {% if user.UserType == "seckeer" %}
                <a href="apply.html" class="btn apply">All Apply Job</a>
            {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
