<div class="navbar">
    <div class="left">
        <a href="{% url "homePage" %}">Home</a>
        {% if user.UserType == "recuter"%}
        <a href="{% url "createjobPage" %}">Create Job</a>
        {% endif %}
        <a href="{% url "findjobPage" %}">Find Job</a>
        <a href="#">Create Resume</a>
    </div>
    <div class="right">
    {% if user.is_authenticated %}
        <div class="if_login">
            <img src="/static/image/defolt_profile.jpg" alt="" class="profile-pic">
            <div class="dropdown">
                <a href="#">View Profile</a>
                <a href="#">Edit Profile</a>
                <a href="{% url "logoutPage" %}">Logout</a>
            </div>
        </div>
    {% else %}
        <a href="{% url "loginPage" %}" target="mane">Login</a>
    {% endif %}
    </div>
</div>