{% extends "include/m.html" %}
{% block title %}Job Information{% endblock title %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/allPage.css">
</head>
<body>
    <div class="card">
        <div id="logo">
            <h2>Job Offering at_<span id="company-name-display"></span></h2>
            <img class="company-logo-display"src="/{{data.com_logo}}" alt="Company Logo">
        </div>
        <div class="company-info">
            <h3 id="company-title-display"><strong>Company name:</strong>{{data.com_name}}</h3>
            <p id="company-description-display"><strong>Company title:</strong>{{data.com_title}}</p>
            <p id="company-description-display"><strong>Company description:</strong>{{data.com_description}}</p>
            
            <p><strong>Location:</strong> <span id="company-location-display">{{data.com_location}}</span></p>
        </div>
        <div class="job-info">
            <h3 id="job_det">Job Details</h3>
            <h3 id="company-title-display"><strong>Job Title:</strong>{{data.job_title}}</h3>
            <p><strong>Number of Openings:</strong> <span id="num-openings-display">{{data.num_openings}}</span></p>
            <p><strong>Category:</strong> <span id="category-display"></span>{{data.category}}</p>
            <p><strong>Description:</strong> <span id="job-description-display"></span>{{data.job_description}}</p>
            <p><strong>Qualifications:</strong> <span id="qualifications-display"></span>{{data.qualifications}}</p>
            <p><strong>Salary:</strong> <span id="salary-display"></span>{{data.salary}}</p>
            <p><strong>Application Deadline:</strong> <span id="deadline-display">{{data.deadline}}</span></p>
        </div>
    </div>
</body>
</html>
{% endblock body %}